<section class="advertisement-section">
    <div class="container">
      <div class="advertisement-container">
        <h2 class="visually-hidden">Advertisement</h2>
        <p class="advertisement-description">
          Будуйте свій авто-бізнес разом зі Zviger: ви продаєте — ми доставляємо.
        </p>
        <a
          class="advertisement-link-btn"
          href="#contactus"
          aria-label="Button with text Contact Us"
        >
          Звертайтеся за консультацією
        </a>
      </div>
    </div>
  </section>