<section class="catalog-section" id="poslugi">
    <div class="container">
      <h2 class="title-catalog">Послуги від Zviger для вашого автобізнесу</h2>
      <ul class="menu-cards">
        <li class="page-title-catalog">
          <div class="catalog-picture">
          <picture><img class="catalog-img" src="./img/uslugi/vlasnik-bmw-x5.webp" alt="Власник BMW X5 демонструє ключі на тлі машини"></picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Контроль на кожному етапі</h3>
            <p class="name-text ">Ми працюємо прозоро: надаємо повну інформацію про авто з-за 
              кордону з розмитненням без прихованих платежів та комісій – 
              від технічного стану до витрат на перевезення та митницю</p>
          </div>
        </li>
           
        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture><img class="catalog-img" src="./img/uslugi/vlasnik-bmw-x5.webp" alt="Власник BMW X5 демонструє ключі на тлі машини"></picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Прозорість вибору.</h3>
            <p class="name-text ">Ви самі контролюєте покупку. Ми надаємо повний технічний 
              звіт та історію авто. Ми також підберемо для вас той автоаукціон США, який
               буде для вас найвигіднішим</p>
          </div>
        </li>
           
        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture><img class="catalog-img" src="./img/uslugi/vlasnik-bmw-x5.webp" alt="Власник BMW X5 демонструє ключі на тлі машини"></picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Чесність без компромісів.</h3>
            <p class="name-text ">Ви знаєте все ще до покупки: звіти про стан авто, прозора історія володіння, 
              точні дані без прикрас. Ми купуємо тільки ті машини з Америки, які самі б обрали для себе</p>
          </div>
        </li>

        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture><img class="catalog-img" src="./img/uslugi/vlasnik-bmw-x5.webp" alt="Власник BMW X5 демонструє ключі на тлі машини"></picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Простий та зрозумілий процес</h3>
            <p class="name-text ">Процес купівлі авто на аукціоні в США та доставки чіткий та зрозумілий.
               Жодних заплутаних схем: ми пояснюємо кожен етап – від пошуку до доставки.
                Ви точно знаєте, що відбувається з вашим авто в кожен момент</p>
          </div>
        </li>

        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture><img class="catalog-img" src="./img/uslugi/vlasnik-bmw-x5.webp" alt="Власник BMW X5 демонструє ключі на тлі машини"></picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">Контроль та безпека</h3>
            <p class="name-text ">Ви бачите все на власні очі: фотографії, 
              відео кожного етапу, трекінг автомобіля в режимі реального часу.
               Ми працюємо тільки з перевіреними аукціонами та логістичними 
               компаніями. Ви також можете відстежити авто з США в будь-який момент</p>
          </div>
        </li>

        <li class="page-title-catalog">
          <div class="catalog-picture">
            <picture><img class="catalog-img" src="./img/uslugi/vlasnik-bmw-x5.webp" alt="Власник BMW X5 демонструє ключі на тлі машини"></picture>
          </div>
          <div class="cards-conteiner">
            <h3 class="name">ZvigerAuto</h3>
            <p class="name-text ">Допоможемо вам купити машину з Америки,
               при цьому забезпечуючи безпеку угоди і мінімізуючи ваші ризики.
                З нами ви легко знайдете авто на аукціоні в США, а ще ми будемо 
                на зв’язку з вами 24/7 для вирішення будь-яких проблем. Все для 
                того, щоб ви зайвий раз не нервували!</p>
          </div>
        </li>

      </ul>
     
    </div>
  </section>