<!-- Section Contact-US -->
<section class="section-contactus container" id="contactus">

    <h2 class="section-contactus-title">Давайте порахуємо!</h2>
    <div class="contactus-container">
        <div class="contactus">
            <p class="section-contactus-text">Будь ласка, скористайтеся формою нижче,
                 щоб зв’язатися з нами. Введіть своє ім’я, електронну пошту, телефон, 
                 та повідомлення, і ми зв’яжемося з вами найближчим часом.</p>


            <form class="section-contactus-form">

                <div class="section-contactus-wrapper">
                    <label class="section-contactus-label">
                        <input class="contactus-input" name="user-name" type="text" title="victoria" placeholder="Ім'я"
                            required pattern="[A-Za-z]{1,}">
                    </label>
                </div>


                <div class="section-contactus-wrapper">
                    <label class="section-contactus-label">
                        <input class="contactus-input" name="user-email" type="email" title="victoria@gmail.com"
                            placeholder="Email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    </label>
                </div>


                <div class="section-contactus-wrapper">
                    <label class="section-contactus-label">
                        <input class="contactus-input" name="user-phone" type="tel" placeholder="Номер телефону" required>

                    </label>
                </div>

                <div class="section-contactus-user-comment">
                    <label class="section-contactus-message-label">
                        <textarea class="section-contactus-message"  name="user-comment"   required>
                        </textarea><span class="placeholder">Коментар</span>
                    </label>
                </div>
                <button class="section-contactus-btn" type="submit">Надіслати</button>
            </form>
        </div>


        <div class="section-contactus-img">
            <picture>
                <img class="contactus-img" src="./img/contakti/sale-manager.webp" alt="Менеджер с продажів">
            </picture>
        </div>

    </div>
</section>

