<section class="section">
  <div class="container hero-section">
    <div class="hero-title-container">
      <div class="hero-title">
        <h1 class="hero-title-name">
          ZvigerAuto – надійний партнер для вашого автобізнесу
        </h1>
        <h2 class="hero-subtitle">Вибір авто, доставка, розмитнення, ремонт та сертифікація під ключ. 
          Ідеальні умови для бізнесу</h2>
        <p class="hero-title-about">
          Прозорість, яка повертає довіру до авто з-за океану!
           Zvigerauto – не просто платформа, а повноцінний бізнес-інструмент 
           для дилерів авто. Ліцензія, доступ до аукціонів, 
           фотофіксація кожного кроку логістики та страхування  – у нас є все для впевненого росту вашого бізнесу авто зі США!
        </p>
      </div>
      <div class="hero-reviews-scroll">
        <a class="feedback-button" href="">До прорахунку</a>
      </div>
    </div>
    <div class="hero-title-image">
     
      <img class="hero-title-image" src="./img/hero-img/dostavka-avto-zvigert.webp" alt="Автовоз з автомобілями їде в процесі доставки">
 
    </div>
  </div>
</section>
