


<section class="sale" id="instrumenti">
  <div class="container">
    <h2 class="sale-title">Інструменти для підбору та доставки від Zviger-Auto</h2>
    <div class="sale-wrapper">
      <div class="sale-img-block">
        <ul class="sale-list">
          <li class="sale-list-item">
            <picture>
             <img class="sale-list-item" src="./img/instrumenti/calculator.webp" alt="Калькулятор розхрахунку вартості">
            </picture>
           
          </li>
          <li class="sale-list-item">
            <picture>
             <img class="sale-list-item" src="./img/instrumenti/carfax.webp" alt="Карфакс за 1 $">
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
            <img class="sale-list-item" src="./img/instrumenti/vidstejennya-avto.webp" alt="Відстеження місцезнаходження авто">
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
             <img class="sale-list-item" src="./img/instrumenti/istoriya-platejiv.webp" alt="">
            </picture>
          </li>
        </ul>
        <div class="sale-block">
          <picture>
     
            <img
              class="sale-block-img"
              src="./img/instrumenti/calculator.webp"
              alt="watch"
              width="235"
              height="285"
            />
          </picture>
        </div>
      </div>
      <div class="sale-info">
        <h3 class="sale-info-title">
         Zviger-auto пропонує!
        </h3>
       
        <ul class="sali-info-list">
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Доступ до аукціонів через CRM</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Викуп авто в день покупки — гарантія безпечної операції</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Прискорена логістика: доставлення до порту за 1-2 тижні</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Розмитнення та сертифікація: всі документи обробляються швидко та безпечно</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Фіксована ціна доставки: всі витрати за фрахт, 
              зберігання та переробку документів включені у вартість</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Кастомізація послуг: Ви можете обирати, що саме вам
              потрібно: від викупу до повного супроводу</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Унікальні послуги: Переробка Title,
               перевірка застави через офіційні DMV сервіси</p>
          </li>
          <li class="sale-info-list-item">
            <p class="sale-info-list-text">Гарантія безпеки та страхування </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
