<section class="about-box"  id="about-us">
    <div class="container about-container">
        <div class="about-body">
            <h2 class="about-title">Маленькими кроками до великого успіху: 
                як створювалася компанія</h2>

            <div class="about-box-txt">
            <p>
                Zvigerauto — це успішний бізнес, який виріс з однієї людини
                 в масштабний міжнародний проект. Все почалося з засновника
                  компанії, Нікіти Звягінцева, який ще у 2017 році зареєстрував 
                  компанію «Zviger LLC» у Маямі, штаті Флорида. Упродовж цілого
                   року він був і менеджером по роботі з клієнтами, і бухгалтером,
                    і логістом, і оперативни директором одночасно. 
            </p>

            <p>
                У 2018 році до ZvigerAuto приєдналися наші перші співробітники, 
                а зараз у нашій команді вже більше 50 людей, які працюють у поті
                 чола, щоб цей бізнес був ще кращим та ще більш успішним.
                З командою виросли і наші послуги, їх кількість та якість.
                 З 2019 року ми запустили власне програмне забезпечення для 
                 організації всіх бізнес-процесів, яке постійно допрацьовуємо 
                 та вдосконалюємо. Це допомогло нам збільшити кількість доставлених
                  авто з 15 до 550+ на місяць. Так, це точно не випадковість,
                   а результат кропіткої роботи.
            </p>
                
            <p>
                Але, як би це райдужно все не звучало, на шляху компанії були
                 й дуже неприємні перешкоди, такі як: недобросовісні партнери, 
                 проблематичні підрядники, пандемія COVID-19 і, звісно, неадекватний 
                 сусід зі сходу. І, як на зло, війна в Україні, що перервала
                  доставку більше ніж 2500 авто. Касовий розрив був такий, що 
                  ніхто взагалі не вірив, окрім нас самих, що ми зможемо з цього
                   вилізти. Але ми з усім впоралися! За півроку все вирівняли,
                    і щонайголовніше — не втратили команду. І сьогодні ZvigerAuto
                     — ще сильніша, ще краща компанія, яка готова до нових звершень!
                      Ми продовжуємо доставляти круті автівки з США та
                       Канади в Україну по вигідним цінам, та ще й пропонуємо 
                       кожному бажаючому стати дилером та гарно заробляти разом 
                       з нами!
            </p>

            </div>
    
        </div>

        <!-- <div>
            <picture>
                <img 
                class="about-img"
                src="./img/img-uslugi/uslugi.webp" 
                alt="clock picture" 
                width="335">
            </picture>

        </div> -->

    </div>
</section>