

<section class="cooperation-stages" id="spivpracia">
    <div class="container">
        <h2>Етапи співпраці</h2>
        <div class="stages-wrapper">
            <div class="stage-item">
                <div class="stage-number-container">
                    <span class="stage-number">01</span>
                </div>
                <div class="stage-content">
                    <h3 class="stage-title">Обираєте авто
                    </h3>
                    <p class="stage-description"> Ви вибираєте авто через наш особистий кабінет у CRM, де доступні всі аукціони.
                        .</p>
                </div>
            </div>

            <div class="stage-item">
                <div class="stage-number-container">
                    <span class="stage-number">02</span>
                </div>
                <div class="stage-content">
                    <h3 class="stage-title">Купуємо
                    </h3>
                    <p class="stage-description">Ми викуповуємо авто в день покупки через нашу систему CRM, що дозволяє оптимізувати сроки доставки</p>
                </div>
            </div>

            <div class="stage-item">
                <div class="stage-number-container">
                    <span class="stage-number">03</span>
                </div>
                <div class="stage-content">
                    <h3 class="stage-title">Забираємо</h3>
                    <p class="stage-description">Доставка авто до порту США: 7-10 дні</p>
                </div>
            </div>

            <div class="stage-item">
                <div class="stage-number-container">
                    <span class="stage-number">04</span>
                </div>
                <div class="stage-content">
                    <h3 class="stage-title">Оформляємо</h3>
                    <p class="stage-description"> Розмитнення та сертифікація</p>
                </div>
            </div>

            <div class="stage-item">
                <div class="stage-number-container">
                    <span class="stage-number">05</span>
                </div>
                <div class="stage-content">
                    <h3 class="stage-title">Доставляємо</h3>
                    <p class="stage-description">Доставка авто до України та в країни ЄС.</p>
                </div>
            </div>
        </div>
    </div>
</section>
